<nav class="navbar fixed-top" style="background: #24252A; padding-left: 10px; padding-right: 10px;">
    <div class="container-fluid d-flex justify-content-between align-items-center">
        <a class="navbar-brand text-white" href="{{ url_for('index') }}"><i class="bi bi-lightning-fill fs-6"></i>
            WattWatcher</a>
        <ul class="navbar-nav d-flex flex-row">
            <li class="nav-item">
                <a class="nav-link nav-button mx-1" href="{{ url_for('mjerna_mjesta') }}">Mjerna mjesta</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-button mx-1" href="{{ url_for('potrosnja') }}">Potrošnja</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-button mx-1" href="{{ url_for('statistika') }}">Statistika</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-button mx-1" href="{{ url_for('vizualizacija') }}">Vizualizacija</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-button mx-1" href="{{ url_for('kalkulator') }}">Kalkulator</a>
            </li>
        </ul>
    </div>
</nav>